.featured-image img{
  display: block;
  width: 100%;
  height: auto;

}
.image-caption{
  font-size: 60%;
  padding: .75em 1em;
  background-color:white;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  main {
    width: 50%;
    float: left;
  }
}
/*
.rt-responsive{
  max-width: 100%;
  height: auto;
  float: right;
  margin: 15px 0 25px 15px;
}*/

/*.center-responsive{
  display: block;
  margin: 60px auto;
  clear: both;
  max-width: 100%;
  height: auto;
}
*/

/* Typographic Scaling */
/* 

  Some tools to help with typographic Styles:

  Google Fonts - fonts.google.com
  Hello Color - http://jxnblk.com/hello-color/  
  Type Scale: A Visual Calculator - https://type-scale.com/ 

*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400|PT+Sans+Caption:400');

html {font-size: 16px;}

body {
  background-color: #2b7980;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #540000;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}


